@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;600;700&display=swap');

:root {
    --Very-dark-desaturated-blue: #172339;
    --Very-dark-grayish-blue: #49566D;
    --Light-grayish-orange: #F3EDE7;
    --Light-grayish-orange-light: #FAF8F6;
    --Light-violet: #A060FF;
    --Bright-magenta: #CB30E3;
    --Light-orange: #FFA84E;
    --Very-light-gray: #f2f2f2;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 100vw;
    min-height: 100vh;
    font-family: 'Epilogue', sans-serif;
    background-color: var(--Light-grayish-orange-light);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 24px 16px 56px;
}

.logo {
    padding: 8px 0;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: var(--Very-dark-desaturated-blue);
}

.header-btn {
    width: 182px;
    height: 48px;
    border-radius: 6px;
    color: var(--Very-dark-desaturated-blue);
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
}

.super-solution {
    display: flex;
    flex-direction: column;
}

.pattern1 {
    width: 151.47px;
    margin: 0 53.53px 8.32px 170px;
}

.div-solution {
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.heading-solution {
    font-weight: 400;
    font-size: 38px;
    line-height: 44px;
    color: var(--Very-dark-desaturated-blue);
}

.solution-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: var(--Very-dark-grayish-blue);
}

.solution-btn {
    width: 256px;
    height: 61px;
    background-color: var(--Very-dark-desaturated-blue);
    border-radius: 6px;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    color: var(--Light-grayish-orange-light);
}

.image-hero-landscape {
    width: 343px;
    padding: 23.68px 0 56px;
}

.div-amount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.heading-amount-companies, .heading-amount-languages, .heading-amount-leads {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: var(--Very-dark-desaturated-blue);
    text-align: center;
    margin-bottom: 1px;
}

.companies, .languages, .leads {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.5px;
    color: var(--Very-dark-grayish-blue);
    text-align: center;
}

.just-works {
    background-color: #172339;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    margin-top: 237px;
}

.image-jeremy {
    width: 252px;
    margin: -180px 70px 40px;
}

.pattern2 {
    width: 49.27px;
    margin: 0 162.73px 37px 163px;
}

.works {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 64px;
}

.heading-works {
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: var(--Light-grayish-orange-light);
    text-align: center;
}

.works-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: var(--Light-grayish-orange);
    text-align: center;
    padding: 0 16px;
}

.jeremy-fylo {
    display: flex;
    flex-direction: column;
}

.jeremy {
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: var(--Light-grayish-orange-light);
}

.fylo {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: var(--Light-grayish-orange);
}

.footer {
    display: flex;
    flex-direction: column;
    gap: 33px;
    text-align: center;
    padding: 56px 0 80px;
    background-color: var(--Light-grayish-orange);
}

.footer-logo {
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: var(--Very-dark-desaturated-blue);
}

.copyright {
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;
    color: var(--Very-dark-grayish-blue);
    text-align: center;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 28px;
}

@media (min-width: 768px) {
    body {
        background-image: url(./assets/image-hero-portrait@2x.png);
        background-repeat: no-repeat;
        background-size: 281px;
        background-position: top 176px right 40px;
    }

    .header {
        padding: 40px 40px 125.9px 39px;
    }

    .logo {
        padding: 12px 0;
    }

    .header-btn {
        width: 219px;
        height: 56px;
        font-size: 16px;
        line-height: 32px;
    }    

    .pattern1 {
        width: 231.19px;
        margin: 0 274.81px 16.32px 262px;
    }

    .div-solution {
        padding: 0 0 0 39px;
        gap: 40px;
    }

    .heading-solution {
        font-size: 56px;
        line-height: 64px;
        padding-right: 200px;
    }

    .solution-description {
        padding-right: 370px;
    }

    .image-hero-landscape {
        display: none;
    }

    .div-amount {
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: space-between;
        padding: 128px 40px 0 39px;
    }

    .just-works {
        margin: 273px 40px 0 39px;
    }

    .image-jeremy {
        width: 252px;
        margin: -180px 209px 40px 228px;
    }

    .pattern2 {
        margin: 0 319.73px 37px 320px;
    }

    .works-description {
        padding: 0 60px;
    }

    .footer {
        flex-direction: row;
        gap: 165px;
        padding: 72px 40px 72px 39px;
    }
    
    .icons {
        display: flex;
        justify-content: center;
        gap: 28px;
        padding: 6px 0;
    }

}


@media (min-width: 1440px) {
    body {
        background-image: url(./assets/image-hero-portrait@2x.png);
        background-repeat: no-repeat;
        background-size: 350px;
        background-position: top 173px right 450px;
    }

    .header {
        padding: 50px 165px 112.68px;
    }

    .header-btn {
        background-color: var(--Very-dark-desaturated-blue);
        color: var(--Light-grayish-orange-light);
    }

    .pattern1 {
        width: 287px;
        margin: 0 698px 21.32px 455px;
    }

    .super-solution {
        flex-direction: row;
        gap: 85px;
        padding: 0 164px 0 166px;
    }

    .div-solution {
        padding: 0;
    }

    .heading-solution {
        font-size: 72px;
        line-height: 78px;
        width: 843px;
    }

    .solution-description {
        font-size: 18px;
        line-height: 32px;
        width: 730px;
    }

    .solution-btn:hover {
        background: linear-gradient(135deg, #A060FF 0%, #CB30E3 49.21%, #FFA84E 100%);
    }

    .solution-btn {
        margin-top: 12px;
    }


    .div-amount {
        flex-direction: column;
        gap: 63px;
        justify-content: center;
        padding: 0;
    }

    .heading-amount-companies, .heading-amount-languages, .leads {
        text-align: left;
    }

    .just-works {
        margin: 291px 164px 0 167px;
        display: flex;
        flex-direction: row;
    }

    .image-jeremy {
        width: 375px;
        margin: -40px 30px 0 112px;
    }

    .pattern2 {
        width: 64px;
        margin: 161.15px 52.35px 331.85px 0;
    }

    .works {
        padding: 88px 125px 0 0;
        padding-bottom: 0;
    }

    .heading-works {
        text-align: left;
        font-size: 48px;
        line-height: 56px;
    }

    .works-description {
        padding: 0;
        text-align: left;
        font-size: 20px;
        line-height: 35px;
    }

    .jeremy, .fylo {
        text-align: left;
    }

    .footer {
        padding: 95px 164px 72px 167px;
        gap: 395px;
    }

    .facebook-icon:hover {
        opacity: 0.5;
    }

}













